:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
}

app-side-nav {
  flex-grow: 1;
}

app-content {
  flex-grow: 2;
}

app-footer {
  flex-shrink: 0;
}
